<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>CI - Test</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="#{ci.greeting}"></h:outputText>
            
        </h:form>
    </h:body>
</html>

